* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.item {
    display: flex;
    justify-content:  ;
}

.image {
    width: 200px;
}

.title {
    max-width: 300px;
    margin: 50px 0 auto;
}

.text {
    max-width: 400px;
    line-height: 25px;
}