* {
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
    border: 1px solid red;
}

.item {
    display: flex;
    justify-content:  center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.image {
    width: 220px;
}

.title {
    max-width: 300px;
    margin: 50px 0 auto;
    font-weight: normal;
}

.text {
    max-width: 400px;
    line-height: 25px;
    font-weight: normal;
}