* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid red;
}

.item {
    display: flex;
    justify-content:  center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.image {
    width: 250px;
}

.title {
    max-width: 300px;
    margin: 75px 0 auto;
    font-weight: normal;
}

.text {
    max-width: 400px;
    line-height: 25px;
    font-weight: normal;
}