* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.item {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.image {
    width: 250px;
}

.title {
    max-width: 300px;
    font-weight: normal;
    padding-top: 40px;
}

.text {
    max-width: 400px;
    line-height: 25px;
    font-weight: normal;
    text-align: justify;
    padding-top: 20px;
}

.icons {
    margin: auto 80px;
}

.icons__link {
    padding-bottom: 20px;
}

.fa {
    color: rgb(10, 177, 155);
    font-size: 50px;
    /* border: 1px solid rgb(20, 23, 117); */
}

.fa:hover {
    color: #e49e1c; 
}
